{% extends 'base.html' %}

{% block bolg_details %}


<div class="container" style="padding-right: 120px; padding-left: 120px;">
	<div class="jumbotron" style="background-color: rgb(207, 255, 224)">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				{% if ins.image %}
					<img src="{{ ins.image.url }}" class="img-responsive img-rounded"><br>
				{% endif %}
				<div class="caption">
					<h1>{{ ins.title }}<small>&nbsp;&nbsp;{{ obj.timestamp }}</small></h1>
					<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
					<hr/>
					<h2 class="text-justify">{{ ins.context|linebreaks }}</h2>
					<hr/>
					<div class="col-sm-10 col-sm-offset-1">
						<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




{% endblock %}




